@import '~antd/dist/antd.css';
body {
  font-family: 'Anonymous+Pro', monospace; /*'Overpass Mono'*/
  /* color: rgba(255,255,255,.75);
  background-color: rgb(25, 25, 25); */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.fp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fc {
  flex: 1;
}
.App {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
